.theme-three {
  /*---------------Theme Two-----------------*/
  --clr-main-bg: hsl(268, 75%, 9%);
  --clr-toggle-bg: hsl(268, 71%, 12%);
  --clr-screen-bg: hsl(268, 71%, 12%);

  --clr-text-heading: hsl(52, 100%, 62%);

  --clr-key-bg-100: hsl(281, 89%, 26%);
  --clr-key-shadow-100: hsl(285, 91%, 52%);

  --clr-key-bg-120: hsl(176, 100%, 44%);
  --clr-key-shadow-120: hsl(177, 92%, 70%);

  --clr-key-bg-130: hsl(268, 47%, 21%);
  --clr-key-shadow-130: hsl(290, 70%, 36%);

  --clr-text-100: hsl(198, 20%, 13%);
  --clr-text-110: hsl(0, 0, 100%);
  --clr-text-120: hsl(52, 100%, 62%);
}
