.theme-two {
  /*---------------Theme Two-----------------*/
  --clr-main-bg: hsl(0, 0%, 90%);
  --clr-toggle-bg: hsl(0, 5%, 81%);
  --clr-screen-bg: hsl(0, 0%, 93%);

  --clr-text-heading: hsl(60, 10%, 19%);

  --clr-key-bg-100: hsl(185, 42%, 37%);
  --clr-key-shadow-100: hsl(185, 58%, 25%);

  --clr-key-bg-120: hsl(25, 98%, 40%);
  --clr-key-shadow-120: hsl(25, 99%, 27%);

  --clr-key-bg-130: hsl(45, 7%, 89%);
  --clr-key-shadow-130: hsl(35, 11%, 61%);

  --clr-text-100: hsl(0, 0%, 100%);
  --clr-text-120: hsl(60, 10%, 19%);
}
